/* font */

  @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Bree+Serif&family=Qwitcher+Grypen&display=swap');



.event-individual .event-indi-container  {
    margin: 100px 40px;
    padding: 20px 10;
    color: white;
}

/* <--  Event Header Section  --> */
.event-indi-container .event-indi-header {
    margin-left: 100px;
    padding: 80px 0;
}
.event-indi-container .event-indi-header h1{
    font-family: 'Alkalami', serif;
    display: inline-block;
    font-size:60px;
    font-weight:500;
    background: linear-gradient(90deg, yellow, 20%, #d55);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.event-indi-container .event-indi-description  .about-event h1{
    position: relative;
}
.event-indi-container .event-indi-description  .about-event h1::before{
    content: "";
    position: absolute;
    width: 10%;
    background: linear-gradient(90deg, yellow, 20%, #d55);
    height: 5px;
    bottom: 25px;
    left: 0;
    right: 0;
    transition: width 0.3s ease-out;
}
.event-indi-container .event-indi-description .about-event  h1:hover::before{
      
    width: 60%;
    left: 0;
    right: auto;
}




/* <--  Event Description Section  --> */
.event-indi-description {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-bottom: 90px;
    width: 100%;

    max-width: 1500px;
}

.event-indi-description .about-event {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin-left: 100px;

}

.about-event h1{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 5%;
    padding-right: 5%;
    text-align:justify;
}

.about-event p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 2rem;
    word-spacing: 2px;
    font-size: 1.15rem;

    padding: 1rem 0;
}

.event-indi-description .event-img {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
    width: 33%;
}
.event-indi-description .event-img img {
    width: 90%;
}



/* <-- Event Register Section  --> */
.event-register{
    display: flex;
    width: 66%;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}


.event-register .register-btn {
    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    /* border-radius: 7px; */
    position: relative;
}
.event-register .register-btn::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, yellow, 20%, #d55);
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 30px;
}
.event-register .register-btn:hover::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, yellow, 20%, #d55);
    height: 100%;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.8;
    border-radius: 30px;

    transition: opacity 0.2s ease-in-out;
}

.event-register .register-btn button {
    border-radius: 30px;
    font-size: 25px;
    font-family: Courier, monospace;
    font-weight: 700;
    padding: 10px 30px;
    margin: 2px;
    position: relative;
    background-color:black;
}

.event-register .register-btn button:hover {
    color: gainsboro;
    transition: all 0.2s ease-in-out;
}


/* <-- Event information Section  --> */
.event-indi-info {
    margin-left: 100px;
    padding: 80px 0;
}
.event-indi-info h1 {
    font-size: 40px;
    padding-bottom: 50px;
    font-family: 'Alkalami', serif;
    font-weight: 500;
}

.event-indi-info .info-table {
    border-collapse: collapse;
    display: block;
    font-family: 'Alkalami', serif;
}
.event-indi-info .info-table tr {
    width: 60%;
}
.event-indi-info .info-table tr td {
    width: 40%;
}

.event-indi-info .info-table .event-info-key {
    font-size: 30px;
    color: rgb(249, 86, 86);
    padding: 20px 150px 20px 0px;
}


.event-indi-info .info-table tbody {
    width: 70%;
}
