* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  padding: 4rem 0rem 0rem 10rem;
    height: 3rem;
}
.nav-container li{
  list-style: none;
}

.cover-page .navbar .nav-container .nav-list {
  background-color: #fff;
  color: #000;
  padding: 0.7rem 3rem;
  border: 1px solid #000;
  width: 60%;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
 .nav-container a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  background-image: linear-gradient(90deg, yellow, 20%, #d55);
  background-size: 0 3px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}
.nav-container .active{
  background-size: 100% 3px;
}

.nav-container .istelogo_nav{
  width:7rem
}